/ELS_2016_paper_10 (1).pdf
/ELS_2016_paper_10 (2).pdf
/ELS_2016_paper_10 (3).pdf
/ELS_2016_paper_10 (4).pdf
/ELS_2016_paper_10 (5).pdf
/ELS_2016_paper_10 (6).pdf
/ELS_2016_paper_10.pdf
/RefactoringDynamicLanguages.pdf
/TodoELS.pdf
/acmcopyright.sty.tex
/elsRafaelReiaAML.pdf
/flies.eps
/notes.pdf
/paperArturComentado.pdf
/paperArturComentado2.pdf
/tobesubmited.pdf
